#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.filter-bar {
  display: flex;
}

.filter-item{
  padding: 10px;
  border: 1px solid #84A8B2;
  border-radius: 0;
  margin-right: 3px;
}

.filter-bar:first-child{
  margin-left: 5px;
}

.filter-item:focus {
  border: 1px solid black;
}

.portfolio-board{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 750px;
  height: 1420px;
}

.portfolio-board > img {
  width: 250px;
  padding: 5px;
}

.websites{
  height: 900px;
}

.flayers{
  flex-direction: row;

  height: 400px;
}

.business-cards{
  height: 550px;
}
